<!DOCTYPE html>
<html>

  <head>
  	<title>angular</title>
    <link rel="stylesheet" href="css/foundation.css">
  	<link rel="stylesheet" href="css/style.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script data-require="angular.js@1.2.22" data-semver="1.2.22" src="js/angular.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body ng-app>
   
  <div>
    <form ng-controller="FormController">
      <p>Remaining : <span  ng-class="{'text-warning' : overflow()}"> {{remaining}}</span></p>
      <textarea ng-model="message"type="text"> </textarea>
      <button class="success" ng-click="send()"  ng-disabled="overflow() || empty()">Send</button>
      <button class="alert" ng-click="clear()">Clear</button>
    </form>
  </div>
  </body>

</html>
